-
    const delivers = [
        {id: 1, icon: 'fa-solid fa-truck-fast', name: 'Fast home delivery', desc: "Consectetur adipiscing elit."},
        {id: 2, icon: 'fa-solid fa-shield-halved', name: 'Safe payments', desc: "Consectetur adipiscing elit."},
        {id: 3, icon: 'fa-solid fa-headset', name: 'Customer support 24/7', desc: "Consectetur adipiscing elit."},
        {id: 4, icon: 'fa-solid fa-flask', name: 'Safe for health', desc: "Consectetur adipiscing elit."}
    ];

section.m-auto.py-8(class="sm:py-12")
    .container.mx-auto
        .grid.gap-5.px-4.py-6.border.border-gray-200.rounded-lg(class='sm:grid-cols-2 xl:grid-cols-4')
            each deliver in delivers
                .flex.items-center(class=`${deliver.id < 4 && "xl:border-r xl:border-gray-200"} ${deliver.id%2 && "sm:border-r sm:border-gray-200"} sm:justify-center`)
                    i.text-3xl.text-gray-400(class=`${deliver.icon}`)
                    .ml-3
                        h3.font-medium= deliver.name
                        p.text-sm.text-gray-500= deliver.desc